body {
  font-family: 'Roboto', sans-serif;
}

h1, .feature-container, .icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

.feature-container {
  text-align: center;
}

.feature-list {
  margin: 0;
}

.feature {
  width: 200px;
  display: inline-block;
  margin: 20px auto;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
  vertical-align: text-top;
}

.subfeature, .sub-subfeature {
  display: none;
  margin-top: 10px;
}

.feature, .subfeature, .sub-subfeature {
  cursor: pointer;
}

.absent-feature {
  text-decoration: line-through;
  color: #D3D3D3;
}

.fa {
  font-size: 3rem;
}

.icon {
  margin-bottom: 20px;
}
