$custom-gray: #D3D3D3;

@mixin center-align($align, $flex) {
  align-items: $align;
  display: $flex;
  justify-content: $align;
}

@mixin bubble-border($size, $corner, $va) {
  border: $size;
  border-radius: $corner;
  vertical-align: $va;
}

.subfeatures-all {
  display: none;
  text-align: left;
  margin-top: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

header, main {
  @include center-align(center, flex);
}

ul {
  list-style: none;
  padding: 0;
}

.features-list-a {
  margin: 0;
  text-align: center;
}

.feature-a {
  display: inline-block;
  width: 200px;
  @include bubble-border(2px solid $custom-gray, 5px, text-top);
  cursor: pointer;
  text-align: left;
  margin: 5px auto;
  padding: 20px;
}

.feature-b {
  @extend .subfeatures-all;
  padding-left: 10px;
}

.feature-c {
  @extend .subfeatures-all;
  padding-left: 20px;
}

.feature-absent {
  text-decoration: line-through;
  color: $custom-gray;
}

.icon {
  font-size: 3rem;
  margin-bottom: 20px;
}
