$custom-gray: #D3D3D3;

@mixin center-align($align, $flex) {
  align-items: $align;
  display: $flex;
  justify-content: $align;
}

@mixin bubble-border($size, $corner, $va) {
  border: $size;
  border-radius: $corner;
  vertical-align: $va;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, .feature-container, .icon {
  @include center-align(center, flex);
}

ul {
  list-style: none;
  padding: 0;
}

.feature-container {
  text-align: center;
}

.feature-list {
  margin: 0;
}

.feature {
  display: inline-block;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  @include bubble-border(2px solid $custom-gray, 5px, text-top);
}

.subfeature, .sub-subfeature {
  display: none;
  margin-top: 10px;
}

.feature, .subfeature, .sub-subfeature {
  cursor: pointer;
}

.absent-feature {
  text-decoration: line-through;
  color: $custom-gray;
}

.fa {
  font-size: 3rem;
}

.icon {
  margin-bottom: 20px;
}
